@media (max-width:435px) {
    header{ 
        & .spots{
            & p{
                font-size: 14px;
            }
        }
    
        & .navbar{
            text-align: center;
    
            & .dropdown-menu{
                text-align: center;
            }

        }
        
        
    }

    #hero{
        padding: 5% 0;
    
        & .left-side{
            text-align: center;
    
            & h1{
                font-size: 32px;
            }
    
            & h6{
                font-size: 20px;
            }   
        }

        & .col-12>p{
            font-size: 16px;
            margin-top: 5% !important;

            & span{
                font-weight: 700;
            }
        }
    }

    #application{
        & .title{
            margin-bottom: 5% !important;
        }
    
        & .card{
            padding: 3%;

            & p{
                font-size: 48px;     
            }
        }
    }

    #whyAcademy{
        padding-bottom: 5%;
    
        & .title{
            font-size: 20px;
            margin-bottom: 5% !important;

        }
    
        & .left-side{
    
            & .card{
                margin-right: 0 !important;
                margin-bottom: 5% !important;
    
                & h3{
                    font-size: 18px;
                }
            }
        }
    }

    #realProjects{
        padding-bottom: 5%;
    
        & .intro{
            margin-bottom: 3% !important;
    
            & h2{
                font-size: 28px;
                font-weight: 600;
                color: #004690;
                margin-bottom: 1% !important;
            }
    
            & p{
                color: #202020;
            }
        }

        & .left-side{
            & img{
                width: 100% !important;
            }
        }
    
        & .right-side{
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            position: relative;
    
            & .card{
                border: none;
                border-radius: 24px;
                background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
                box-shadow: 11px 10px 12.7px 0px #00000026;
                backdrop-filter: blur(10px);
                padding: 5%;
    
                & h3{
                    font-size: 24px;
                    font-weight: 700;
                    color: #202020;
                    margin-bottom: 3% !important;
                }
    
                & p{
                    color: #202020;
                }
    
               
            }
    
            & span{
                color: #363636;
                align-self: flex-end;
                position: absolute;
                bottom: 1%;
                right: 0;
               
    
                & a{
                    color: #363636;
                }
    
                & a:hover{
                    color: #004690;
                }
            }
        }
    }

    #miamiPartners{
    
        & .intro{
            margin-bottom: 5% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 2% !important;
            }
    
        }    
    
    }

    #competitions{
    
        & .intro{
            margin-bottom: 5% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 3% !important;
            }

        }
        
    }

    #realProjects{
    
        & .intro{
            margin-bottom: 3% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 3% !important;
            }
        }
    
        & .right-side{
            & .card{
                margin-top: 5% !important;
    
                & h3{
                    font-size: 18px;
                    margin-bottom: 5% !important;
                }
               
            }
    
            & span{
                align-self: center;
                position: static;
                margin-top: 5% !important;
            }
        }
    }

    #internationalBrand{
    
        & .intro{
            margin-bottom: 5% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 3% !important;
                text-align: center;
            }
    
            & p{
                margin-top: 3% !important;
            }
        }
    
    }

    #interview{
        padding: 5% 0;
    
        & .left-side{
    
            & h2{
                font-size: 20px;
            }
    
            & a{
                font-size: 16px;
                width: 100%;
                text-align: center;
            }
        }
    }

    #academies{
        & .container{
            padding-bottom: 10%;
        }
    
        & h2{
            margin-bottom: 5% !important;
            font-size: 20px;
        }

        .gy-6{
            --bs-gutter-y: 4rem;
        }
    
    
    }

    #freeCourses{
    
        & h2{
            font-size: 20px;
            margin-bottom: 3% !important;
    
            & span{
                color: #7360F2;
            }
        }
    
        & p{
            font-size: 16px;
        }
    
        & .form-select{
            width: 100%;
            margin: 5% auto;
        }
    
    
        
    }

    #end{
        padding: 5% 0;
    
    
        & a{
            margin-top: 10% !important;
        }
    }

    footer {
        padding: 3% 0%;
        text-align: center;

        & .footer-element {
            width: 100%;
            margin: 3% 0%;
          }
        & h4 {
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            margin-top: 0;
          }
        & p {
            font-size: 12px;
            line-height: 15px;
            color: #c2c2c2;
          }
        & .footer-academies a {
            font-size: 14px;
            line-height: 17px;
            color: #c2c2c2 !important;
            text-decoration: none;
            display: block;
            margin: 2% 0%;
          }
        & .social a {
            margin-right: 10px;
          }
        & .bottom {
            padding: 8px 17px;
          }
        & .bottom p {
            font-size: 10px;
            line-height: 12px;
          }
        & .bottom p span {
            display: block;
          }
    }
      
    
}

@media (max-width:768px) {
    header{ 
        & .spots{
            & p{
                font-size: 14px;
            }
        }
    
        & .navbar{
            text-align: center;
    
            & .dropdown-menu{
                text-align: center;
            }

        }
        
        
    }

    #hero{
        padding: 5% 0;
    
        & .left-side{
            text-align: center;
    
            & h1{
                font-size: 32px;
            }
    
            & h6{
                font-size: 20px;
            }   
        }

        & .col-12>p{
            font-size: 16px;
            margin-top: 5% !important;

            & span{
                font-weight: 700;
            }
        }
    }

    #application{
        & .title{
            margin-bottom: 5% !important;
        }
    
        & .card{
            padding: 3%;

            & p{
                font-size: 48px;     
            }
        }
    }

    #whyAcademy{
        padding-bottom: 5%;
    
        & .title{
            font-size: 20px;
            margin-bottom: 5% !important;

        }
    
        & .left-side{
    
            & .card{
                margin-right: 0 !important;
                margin-bottom: 5% !important;
    
                & h3{
                    font-size: 18px;
                }
            }
        }
    }

    #realProjects{
        padding-bottom: 5%;
    
        & .intro{
            margin-bottom: 3% !important;
    
            & h2{
                font-size: 28px;
                font-weight: 600;
                color: #004690;
                margin-bottom: 1% !important;
            }
    
            & p{
                color: #202020;
            }
        }

        & .left-side{
            & img{
                width: 100% !important;
            }
        }
    
        & .right-side{
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            position: relative;
    
            & .card{
                border: none;
                border-radius: 24px;
                background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
                box-shadow: 11px 10px 12.7px 0px #00000026;
                backdrop-filter: blur(10px);
                padding: 5%;
    
                & h3{
                    font-size: 24px;
                    font-weight: 700;
                    color: #202020;
                    margin-bottom: 3% !important;
                }
    
                & p{
                    color: #202020;
                }
    
               
            }
    
            & span{
                color: #363636;
                align-self: flex-end;
                position: absolute;
                bottom: 1%;
                right: 0;
               
    
                & a{
                    color: #363636;
                }
    
                & a:hover{
                    color: #004690;
                }
            }
        }
    }

    #miamiPartners{
    
        & .intro{
            margin-bottom: 5% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 2% !important;
            }
    
        }    
    
    }

    #competitions{
    
        & .intro{
            margin-bottom: 5% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 3% !important;
            }

        }
        
    }

    #realProjects{
    
        & .intro{
            margin-bottom: 3% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 3% !important;
            }
        }
    
        & .right-side{
            & .card{
                margin-top: 5% !important;
    
                & h3{
                    font-size: 18px;
                    margin-bottom: 5% !important;
                }
               
            }
    
            & span{
                align-self: center;
                position: static;
                margin-top: 5% !important;
            }
        }
    }

    #internationalBrand{
    
        & .intro{
            margin-bottom: 5% !important;
    
            & h2{
                font-size: 20px;
                margin-bottom: 3% !important;
                text-align: center;
            }
    
            & p{
                margin-top: 3% !important;
            }
        }
    
    }

    #interview{
        padding: 5% 0;
    
        & .left-side{
    
            & h2{
                font-size: 20px;
            }
    
            & a{
                font-size: 16px;
                width: 100%;
                text-align: center;
            }
        }
    }

    #academies{
        & .container{
            padding-bottom: 10%;
        }
    
        & h2{
            margin-bottom: 5% !important;
            font-size: 20px;
        }

        .gy-6{
            --bs-gutter-y: 4rem;
        }
    
    
    }

    #freeCourses{
    
        & h2{
            font-size: 20px;
            margin-bottom: 3% !important;
    
            & span{
                color: #7360F2;
            }
        }
    
        & p{
            font-size: 16px;
        }
    
        & .form-select{
            width: 100%;
            margin: 5% auto;
        }
    
    
        
    }

    #end{
        padding: 5% 0;
    
    
        & a{
            margin-top: 10% !important;
        }
    }

    footer {
        padding: 3% 0%;
        text-align: center;

        & .footer-element {
            width: 100%;
            margin: 3% 0%;
          }
        & h4 {
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            margin-top: 0;
          }
        & p {
            font-size: 12px;
            line-height: 15px;
            color: #c2c2c2;
          }
        & .footer-academies a {
            font-size: 14px;
            line-height: 17px;
            color: #c2c2c2 !important;
            text-decoration: none;
            display: block;
            margin: 2% 0%;
          }
        & .social a {
            margin-right: 10px;
          }
        & .bottom {
            padding: 8px 17px;
          }
        & .bottom p {
            font-size: 10px;
            line-height: 12px;
          }
        & .bottom p span {
            display: block;
          }
    }
}